*
!.gitignore
!nvim/
!nvim/**
!lazygit/
!lazygit/**
!ghostty/
!ghostty/**
!yazi/
!yazi/**
!mise/
!mise/**
!pop-shell/
!pop-shell/**
!wezterm/
!wezterm/**

!.zshrc
!dump-install-packages.sh
!install-packages.sh
