*

!.gitignore
!nvim/
!nvim/**
!lazygit/
!lazygit/**
!yazi/
!yazi/**
yazi/flavors
!mise/
!mise/**
!foot/
!foot/**
!hypr/
!hypr/**
!zellij/
!zellij/**
!waybar/
!waybar/**
!scripts/
!scripts/**

!.zshrc
