@define-color foreground #575279;
@define-color background #faf4ed;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#window {
  margin: 0 4px;
	font-weight: bold;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#custom-cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

#custom-screenshot-icon {
  margin-right: 7px;
}

#custom-screenshot-window,
#custom-screenshot-output,
#custom-screenshot-region,
#custom-screenrec-toggle {
  min-width: 12px;
  margin: 0 4px;
  padding: 0 2px;
}

#custom-screenrec-toggle {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin: 0 8.75px;
}

.hidden {
  opacity: 0;
}
